.container {
    width: 350px;
    height: 70px;
    color: #e3e3e3;
    border: 1px dashed #303030;
    background: #151515;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.container--selected {
    border-color: #EB0000;
    color: #EB0000;
}

.error {
    font-size: 0.75rem;
    color: #EB0000;
    margin-top: 0.5rem;
}